<!DOCTYPE html>
<html>
	<head>
		<title>CATEGORY PAGE</title>
		<link rel="stylesheet" href="css/category.css">
	</head>
	<body>
		<div class="category-page-container">
			<div class="category-top-container">
				<a href="/profile" class="category-profile-button">GO TO PROFILE</a>
				<a href="/logout" class="category-logout-button">LOGOUT</a>
			</div>
			<div class="category-title-container">
				<img src="../images/category.png" alt="Titel Image" loading="lazy">
			</div>
			<div class="category-first-row-container">
				<img src="../images/entertainment.png" class="category-ent-img" alt="Entertainment Image"><a href="/entertainment" class="category-ent-button">ENTERTAINMENT</a>
				<a href="/geography" class="category-geo-button">GEOGRAPHY</a><img src="../images/geography.png" class="category-geo-img" alt="Globe Image">
			</div>
			<div class="category-second-row-container">
				<img src="../images/history.png" class="category-his-img" alt="History Image" loading="lazy"><a href="/history" class="category-his-button">HISTORY</a>
				<a href="/sciencetech" class="category-sci-button">SCIENCE & TECH</a><img  src="../images/scienceTech.png" class="category-sci-img" alt="Science Image">
			</div>
			<div class="category-third-row-container">
				<img src="../images/sports.png" class="category-spo-img" alt="Sports Image" loading="lazy"><a href="/sports" class="category-spo-button">SPORTS</a>
				<a href="/random" class="category-rand-button">RANDOM</a><img src="../images/random.png" class="category-rand-img" alt="Random Image">
			</div>
		</div>
	</body>
</html>
