<!DOCTYPE html>
<html>
<head>
	<title>DOWNLOAD</title>
    <link rel="stylesheet" href="css/download.css">
</head>
<body class="download-body">
    <div class="download-ins-container">
        <p>Instruction</p>
    </div>
    <div class="download-button-container">
        <a href="/download/file" class="index-play-button" download>DOWNLOAD GAME</a>
    </div>
    <div class="index-footer-container">
        <span>© 2023 All rights reserved</span>
        <span>|</span>
        <a href="https://group3project.com/team/" target="_blank">Meet the Team</a>
        <span>|</span>
        <a href="https://group3project.com/" target="_blank">Contact Us</a>
    </div>
</body>
</html>
