<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="./css/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="profile-body">
	<div class="content-wrapper">
		<div class="category-top-container">
			<a href="/category" class="category-profile-button">GO TO CATEGORY</a>
			<a href="/logout" class="category-logout-button">LOGOUT</a>
		</div>
		<div class="container">
			<div class="header">
				<p>Profile Detail</p>
			</div>
			<div class="table-container">
				<table class="custom-table">
					<tr><td>Name </td><td><%= name %></td></tr>
					<tr><td>Email </td><td><%= email %></td></tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
