<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="./css/register.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/register',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="You are regestered,You can login now.") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script>
</head>
<body class="register-body">
	<div class="register-top-container">
		<a href="/" class="register-home-button">GO TO HOME PAGE</a>
	</div>
	<div class="register-form-container">
		<div class="register-title-container">
			<h2>REGISTER</h2>
		</div>
		<form id="form1" method="post">
			<input type="email" name="email" placeholder="E-mail" required><br/>
			<input type="text" name="username" placeholder="Username" required><br/>
			<input type="password" name="password" placeholder="Password" required><br/>
			<input type="password" name="passwordConf" placeholder="Confirm Password" required><br/>
			<input type="submit" value="Register">
		</form>
		<div>
			<span id="check"></span>
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a>
		</div>
		<div class="register-already-container">
			<span>Already Registered! <a href="/login">Login</a></span>
		</div>
	</div>
	<div class="index-footer-container">
		<span>© 2023 All rights reserved</span>
		<span>|</span>
		<a href="https://group3project.com/team/" target="_blank">Meet the Team</a>
		<span>|</span>
		<a href="https://group3project.com/" target="_blank">Contact Us</a>
	</div>
</body>
</html>