.questioncard-page-container {
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center  center;
    color: white;
    background-image: url(../images/background.png);   
    height: 100vh;
    overflow: hidden;   
}

.questioncard-container {
    background-color: rgb(161, 155, 163, 0.2);
    margin: 3em;
}

.questioncard-top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: 2em;
}

.questioncard-score-container {
   
    
}

.questioncard-success-container{
    
}

.questioncard-form-container {
    
}

.questioncard-question-container {
    background-image: url(../images/optionButton.png);
    background-size:  contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block; 
    text-align: center; 
    font-size: 1.2em;
    margin: 2.5em 1em;
    padding: 3.4em 0;
}

.questioncard-answers-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 1em;
    margin: 2em;
}

.questioncard-correct-answer {
    background-image: url(../images/correctButton.png)!important;
}

.questioncard-wrong-answer {
    background-image: url(../images/wrongButton.png)!important;
}

input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


input[type="radio"] { 
    position: static;
    opacity: 0; 
    transform: none;
}

input[type="radio"]:checked + .questioncard-option {
    border: 2px solid white;
}

.questioncard-option {
    width: calc(50% - 10px) !important; 
    background-image: url(../images/optionButton.png);
    background-size:  contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block; 
    text-align: center; 
    font-size: 1em; 
    padding: 2em 0;
    margin: .5em 0;
    cursor: pointer;
}

.questioncard-submit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}

.questioncard-submit-container button {
    background-image: url(../images/submit.png);
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
    opacity: 0.8;
    padding: 2em 3em;
    border-radius: 20px;
    color: rgb(107, 28, 181);

}
